* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%; }

img {
  width: 100%; }

body {
  overflow-x: hidden; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%; }

.load{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.4);
  display: none;
}
.load img{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sucesso{
  display: none;
  z-index: 999;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 10px 40px;
  background-color: #3fc611;
  color: #f2f2f2;
  font-weight: lighter;
  font-size: 14px;
  border-radius: 5px;
}
.erro{
  display: none;
  z-index: 999;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 10px 40px;
  background-color: #ef3510;
  color: #f2f2f2;
  font-weight: lighter;
  font-size: 14px;
  border-radius: 5px;
}
header {
  padding: 20px 0;
  background-color: #232222; }

div.logo a {
  color: #f2f2f2;
  font-size: 22px;
  font-weight: bold; }

div.desktop > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.desktop nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

div.desktop nav ul li {
  padding: 0 10px; }

div.desktop nav ul li a {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: lighter; }

div.mobile {
  display: none; }

div.mobile > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

div.mobile h2 i {
  color: #f2f2f2;
  cursor: pointer; }

div.mobile nav ul {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 999;
  width: 100%;
  display: none; }

div.mobile nav ul li {
  background-color: #232222;
  padding: 20px 0;
  text-align: center; }

div.mobile nav ul li a {
  color: #f2f2f2; }

section.bg {
  width: 100%;
  min-height: 600px;
  padding: 40px;
  position: relative; }

section.bg div.bg_single{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

section.bg div.overlay {
  width: 100%;
  min-height: 600px;
  background-color: rgba(35, 34, 34, 0.5);
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0; }

section.bg div.content {
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 500px; }

section.bg div.content h2 {
  text-align: center;
  font-size: 34px; }

section.bg form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

section.bg form input {
  height: 55px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px; }

section.bg form input[type=email] {
  width: 100%;
  color: #333;
  font-size: 16px; }

section.bg form input[type=submit] {
  background-color: #ef3510;
  cursor: pointer;
  color: #f2f2f2;
  font-size: 17px;
  width: 100%; }

section.bg form input[type=submit]:hover {
  background-color: #333; }

section.bg div.content h2 {
  color: #f2f2f2; }

section.sobre {
  padding: 40px; }

section.sobre > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.sobre div.descricao {
  width: 60%;
  padding: 0 40px;
  color: #333; }

section.sobre div.descricao h2 {
  font-size: 28px;
  font-weight: normal;
  color: #50545b; }

section.sobre div.descricao p {
  font-weight: lighter;
  font-size: 16px;
  margin: 10px 0;
  color: #676d77; }

section.sobre div.perfil {
  width: 40%; }

section.diferenciais {
  padding: 40px;
  background-color: #e2e2e2; }

section.diferenciais h2 {
  text-align: center;
  color: #50545b;
  font-size: 30px;
  font-weight: normal; }

section.diferenciais > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.diferenciais div.single {
  width: 33.3%;
  padding: 0 40px;
  margin: 60px 0; }

section.diferenciais div.single h1 {
  font-size: 50px;
  text-align: center;
  color: #50545b; }

section.diferenciais div.single h2 {
  text-align: center;
  color: #50545b; }

section.diferenciais div.single p {
  font-weight: lighter;
  font-size: 16px;
  margin: 10px 0;
  color: #676d77; }

section.extras {
  padding: 40px;
  background-color: #484588; }

section.extras > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.extras div.depoimentos {
  width: 50%;
  padding: 0 30px; }

section.extras div.depoimentos h2 {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 30px; }

section.extras div.depoimentos h4 {
  color: #f2f2f2;
  margin: 5px 0; }

section.extras div.depoimentos p {
  color: #f2f2f2;
  font-weight: lighter;
  margin: 20px 0; }

section.extras div.servicos {
  width: 50%;
  padding: 0 30px; }

section.extras div.servicos h2 {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 30px; }

section.extras div.servicos ul li {
  color: #f2f2f2;
  font-weight: lighter;
  margin: 15px 0; }

.fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer {
  text-align: center;
  color: #333;
  background-color: #ccc;
  padding: 20px; }

footer h2{
    font-weight: lighter;
    font-size: 20px;
}

section.erro_404 {
  padding: 40px; }
section.erro_404 h1{
  text-align: center;
}

section.fale_conosco{
  text-align: center;
  padding: 40px;
}
section.fale_conosco #map{
  width: 100%;
  min-height: 400px;
}
section.fale_conosco div.formulario{
  margin: 50px 0;
}
section.fale_conosco div.formulario >.container{
  max-width: 660px;
}
section.fale_conosco div.formulario h2{
  color: #333;
  font-weight: normal;
  font-size: 28px;
}
section.fale_conosco div.formulario form{
  margin: 30px 0;
}
section.fale_conosco div.formulario form div.input_groups{
  margin: 10px 0;
}
section.fale_conosco div.formulario form input[type=text],
section.fale_conosco div.formulario form input[type=email]{
  height: 40px;
}
section.fale_conosco div.formulario form input[type=text],
section.fale_conosco div.formulario form input[type=email],
section.fale_conosco div.formulario form textarea{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-weight: lighter;
}
section.fale_conosco div.formulario form textarea{
  min-height: 250px;
  resize: vertical;
}
section.fale_conosco div.formulario form input[type=submit]{
  padding: 10px 40px;
  border: none;
  background-color: #484588;
  color: #f2f2f2;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  div.desktop {
    display: none; }

  div.mobile {
    display: block; }

  section.sobre {
    padding: 40px 0; }

  section.sobre div.descricao {
    width: 100%;
    margin: 10px 0; }

  section.sobre div.perfil {
    width: 50%;
    margin: 0 auto; }

  section.diferenciais {
    padding: 0; }

  section.diferenciais div.single {
    width: 50%;
    text-align: center; }

  section.extras {
    padding: 0;
    text-align: center; }

  section.extras div.depoimentos {
    width: 100%; }

  section.extras div.servicos {
    width: 100%;
    margin: 60px 0; } }
@media screen and (max-width: 520px) {
  section.diferenciais div.single {
    width: 100%; } }
